automatizacion ventas/automatizacion de reporte de ventas diarias.json
{
  "name": "automatizacion de reporte de ventas diarias",
  "nodes": [
    {
      "parameters": {},
      "id": "cdccf98f-1d8a-452d-a4d4-60cad9390223",
      "name": "Ejecutar Manualmente",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -368,
        608
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "daysInterval": "={{ 1 }}",
              "triggerAtHour": 8,
              "triggerAtMinute": null
            }
          ]
        }
      },
      "id": "8891fd70-6e89-44a3-891c-296275c1418e",
      "name": "Programador (Ej. Lunes 8am)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        -336,
        320
      ],
      "notes": "Actívalo si quieres envíos automáticos semanales"
    },
    {
      "parameters": {
        "jsCode": "return [\n  {\n    json: {\n      urlImagen: items[0].json.secure_url\n    },\n    binary: items[0].binary\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        432,
        496
      ],
      "id": "b3e95d91-e7a4-45bb-aaeb-077635fb4157",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "sendTo": "yinihermongui@gmail.com,javier.perdomo@copservir.co,frank.santiago@copservir.co",
        "subject": "Ventas Diarias",
        "message": "=<!DOCTYPE html>\n<html>\n<head>\n<style>\n  body{font-family:Arial,sans-serif;background-color:#ffffff;margin:0;padding:0}\n  .container{max-width:800px;margin:0 auto;padding:20px}\n  .header{text-align:center;padding:30px 0;background-color:#ffffff}\n  .logo{max-width:250px;height:auto}\n  .title{color:#2d5016;font-size:28px;font-weight:bold;margin:30px 0 20px 0;text-align:center}\n  .content{background-color:#f8f9fa;padding:30px;border-radius:10px;border:2px solid #4CAF50}\n  .footer{text-align:center;padding:20px;color:#666;font-size:14px}\n  a.button{display:inline-block;padding:15px 30px;background-color:#4CAF50;color:white!important;text-decoration:none;border-radius:5px;font-weight:bold;margin:20px 0}\n</style>\n</head>\n<body>\n<div class=\"container\">\n  <div class=\"header\">\n    <img src=\"https://res.cloudinary.com/dz7okl1ko/image/upload/v1752180853/5134606975890468276-removebg-preview_iskqsd.png\" class=\"logo\">\n  </div>\n  <h1 class=\"title\">Reporte de Ventas Diarias</h1>\n  <div class=\"content\">\n    <p style=\"color:#2d5016;font-size:16px;margin-bottom:20px\">Reporte de ventas</p>\n    <p style=\"color:#333;font-size:14px;line-height:1.6\">\n      Reporte actualizado desde Looker Studio.\n    </p>\n\n    <div style=\"text-align:center; margin: 20px 0;\">\n      <img src=\"{{$json.urlImagen}}\" style=\"max-width:100%; height:auto; display:block; margin:auto;\">\n    </div>\n\n    <p style=\"text-align:center\">\n      <a href=\"https://n9.cl/uwlwr\" class=\"button\">Ver Reporte Interactivo</a>\n    </p>\n\n   <center> <p style=\"color:#666;font-size:12px;margin-top:30px\">Enviado automáticamente por Copservir. Se a enviado un mensaje por el Copservir Bot</p></center>\n  </div>\n</div>\n</body>\n</html>\n",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        752,
        208
      ],
      "id": "87d7eaf1-c9a5-4a8b-9f7d-b7279e03a9cd",
      "name": "Send a message1",
      "webhookId": "02cf41c8-1c05-428c-914d-25a48861120a",
      "notesInFlow": false,
      "credentials": {
        "gmailOAuth2": {
          "id": "xOCa5PoqpHfTJCSR",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "url": "https://api.apiflash.com/v1/urltoimage?access_key=9a58001b745a45ed8a4a0d7ca48233d6&wait_until=page_loaded&delay=10&fresh=true&url=https://lookerstudio.google.com/u/0/reporting/138c4772-5062-4eb6-ad7d-fc91bae86988/page/ePuhF",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "access_key",
              "value": "9a58001b745a45ed8a4a0d7ca48233d6"
            },
            {
              "name": "url",
              "value": "https://lookerstudio.google.com/u/0/reporting/138c4772-5062-4eb6-ad7d-fc91bae86988/page/ePuhF"
            },
            {
              "name": "delay",
              "value": "10"
            },
            {
              "name": "format",
              "value": "jpeg"
            },
            {
              "name": "quality",
              "value": "80"
            },
            {
              "name": "width",
              "value": "1920"
            },
            {
              "name": "height",
              "value": "1530"
            },
            {
              "name": "wait_until",
              "value": "page_loaded"
            },
            {
              "name": "wait_for",
              "value": "svg"
            },
            {
              "name": "full_page",
              "value": "true"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "e0dabf5d-511e-4e69-b94c-bd1d16a606ab",
      "name": "Capturar Looker (APIFlash)1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -16,
        496
      ]
    },
    {
      "parameters": {
        "operation": "sendPhoto",
        "chatId": "={{ $json.chatId }}",
        "binaryData": true,
        "additionalFields": {
          "caption": "Reporte de Ventas diarias    https://n9.cl/uwlwr",
          "parse_mode": "Markdown"
        }
      },
      "id": "eff3a54f-8e8d-4828-9f1b-fa89dbc995f5",
      "name": "Enviar a Telegram1",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        448,
        272
      ],
      "webhookId": "a93e8a74-cf43-48e6-85d1-2293773088e9",
      "executeOnce": false,
      "credentials": {
        "telegramApi": {
          "id": "k17NJhHGX0LKLuIN",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const chatIds = ['7237174388', '7867904883','1547297287','7718315100'];\nreturn chatIds.map(chatId => ({\n  json: {\n    chatId,\n    ...items[0].json\n  },\n  binary: items[0].binary\n}));"
      },
      "id": "90904f66-07a2-41c0-9306-1958b9990c1b",
      "name": "Lista de Destinatarios1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        208,
        304
      ]
    },
    {
      "parameters": {
        "jsCode": "// Este código crea la URL pública, en un flujo real aquí iría un nodo de Cloudinary/S3 para subir la imagen y obtener la URL real.\nconst publicUrl = \"https://tu-storage-publico.com/imagenes/reporte-\" + Date.now() + \".jpg\";\n\nreturn [\n    {\n        json: {\n            urlImagen: publicUrl\n        },\n        binary: items[0].binary\n    }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        16,
        848
      ],
      "id": "9529f3be-e4b7-4ef6-b49b-715a3f4698b4",
      "name": "Code in JavaScript2"
    },
    {
      "parameters": {
        "amount": 4
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        240,
        848
      ],
      "id": "08876998-8c40-4893-aaeb-ae11eb931e50",
      "name": "Wait1",
      "webhookId": "51b40889-a41c-4054-b1a8-33b050311f4d"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://wsinternos.copservir.com/api/bi-telegram/v1/sendMessage",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={\n    \"numeroDocumento\": \"1021673503\",\n    \"mensaje\": \"Reporte ventas diarias\",\n    \"url\": \"https://n9.cl/uwlwr\",\n    \"urlImagen\": \"{{$json.urlImagen}}\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1024,
        320
      ],
      "id": "33aa6eec-75cc-4f03-8265-7a0fad169b55",
      "name": "HTTP Request3"
    },
    {
      "parameters": {
        "operation": "uploadFile",
        "additionalFieldsFile": {}
      },
      "type": "n8n-nodes-cloudinary.cloudinary",
      "typeVersion": 1,
      "position": [
        208,
        496
      ],
      "id": "644943ac-df34-40da-a0a8-45f4a595e967",
      "name": "Upload an asset from file data1",
      "credentials": {
        "cloudinaryApi": {
          "id": "9MjXINjsCbYPW8Y6",
          "name": "Cloudinary account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://wsinternos.copservir.com/api/bi-telegram/v1/sendMessage",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={\n    \"numeroDocumento\": \"7697173\",\n    \"mensaje\": \"Reporte ventas diarias\",\n    \"url\": \"https://n9.cl/uwlwr\",\n    \"urlImagen\": \"{{$json.urlImagen}}\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        848,
        512
      ],
      "id": "34476393-bc03-4695-854c-e93a0039bf3b",
      "name": "HTTP Request4"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://wsinternos.copservir.com/api/bi-telegram/v1/sendMessage",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={\n    \"numeroDocumento\": \"72152323\",\n    \"mensaje\": \"Reporte ventas diarias\",\n    \"url\": \"https://n9.cl/uwlwr\",\n    \"urlImagen\": \"{{$json.urlImagen}}\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        496,
        752
      ],
      "id": "fe5317e2-428c-48e7-9a24-2a2c8f1c154d",
      "name": "HTTP Request"
    }
  ],
  "pinData": {},
  "connections": {
    "Ejecutar Manualmente": {
      "main": [
        [
          {
            "node": "Capturar Looker (APIFlash)1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Programador (Ej. Lunes 8am)": {
      "main": [
        [
          {
            "node": "Capturar Looker (APIFlash)1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Send a message1",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request3",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request4",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Capturar Looker (APIFlash)1": {
      "main": [
        [
          {
            "node": "Lista de Destinatarios1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Code in JavaScript2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Upload an asset from file data1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lista de Destinatarios1": {
      "main": [
        [
          {
            "node": "Enviar a Telegram1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript2": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        []
      ]
    },
    "Upload an asset from file data1": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "fc87b20f-1ffc-46d1-abe0-101dbad15421",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "315a7a9390db7af979684e87121e17ad4c3b555da55f6ef544503b82fabea22a"
  },
  "id": "WnQct8RWCJA02A93",
  "tags": []
}